body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
}

/* NAVIGATION */
.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation-left {
    display : flex;
    gap: 10px;
}

.navigation-right {
    display: flex;
    gap: 10px;
}

/* LINKS */
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

/* HEADER */
.header {
    display : flex;
    justify-content: center;
    gap: 20px;
}
.header-left {
    display : flex;
    flex-direction: column;
    align-items: left;
}
.hello {
    color: gray;
}

h1 {
    font-size: 100px;
    font-weight: 900;
}
.intro {
    color: gray;
}
button {
    background-color: black;
    border: none;
    font-weight: 900;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    max-width: 300px;
}
.header-right {
    display : flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

  /* FOOTER */
  footer {
    display: flex;
    justify-content: center;
  }